*{
  padding: 0;
  margin: 0;
}

.card-pile{
  border: 3px solid black;
  width: 165px;
  height: 200px;
}

#top-row{
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#completed-piles{
  display: flex;
  flew-direction: row;
}

#starting-piles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.card{
  height: 200px;
  width: 165px;
  background-color: white;
  border: thick solid;
}

#starting-piles div div{
  display: inline-flex;
}

#starting-piles div div[class='card']{
  margin-top: -170px;
}
